<h1> Exploratory data analysis (EDA) on Used Car Data </h1>
by Mikhail Karepov

This project is designed to provide additional practice with common software engineering tasks, aimed at enhancing and complementing data skills. 
The goal is to develop and deploy a web application that makes the analysis accessible to the public via a cloud service.

The dataset provided includes used car sales advertisements, and the project follows a series of steps for analysis, visualization, and deployment. 
For deployment, we will be using the Render platform.

**Table of contents**<a id='toc0_'></a>    
- 1. [Initialization](#toc1_)    
- 2. [Load data](#toc2_)    
- 3. [Prepare the data](#toc3_)    

<!-- vscode-jupyter-toc-config
	numbering=true
	anchor=true
	flat=false
	minLevel=3
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

### 1. <a id='toc1_'></a>[Initialization](#toc0_)

In [1]:
# Importing all the necessary libraries
import pandas as pd  # For data manipulation and analysis
import streamlit as st  # For creating interactive web applications
import plotly.express as px  # For interactive data visualization
import altair as alt  # For declarative data visualization

### 2. <a id='toc2_'></a>[Load data](#toc0_)

In [2]:
# Load the data files into DataFrames
used_car_data = pd.read_csv('../vehicles_us.csv')

### 3. <a id='toc3_'></a>[Prepare the data](#toc0_)

The `vehicles_us` table (data on used vehicles in the US):

* **model** — vehicle model
* **price** — vehicle price in US dollars
* **condition** — vehicle condition (e.g., new, like new, excellent)
* **cylinders** — number of cylinders in the engine
* **fuel** — type of fuel used (e.g., gasoline, diesel)
* **odometer** — mileage in miles
* **transmission** — type of transmission (e.g., automatic, manual)
* **paint_color** — color of the vehicle
* **is_4wd** — whether the vehicle is four-wheel drive (True/False)
* **date_posted** — date the ad was published
* **days_listed** — number of days the ad remained active

In [3]:
print(used_car_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB
None